/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
	box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
	margin: 0;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
	font: inherit;
}
/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root, #__next {
	isolation: isolate;
}

.degree::before {
	opacity: 0;
	content: "°";
}
.degree::after {
	content: "°";
}

body {
	background: url("https://img.freepik.com/premium-vector/sky-clouds-design-with-flat-cartoon-poster-flyers-postcards-web-banners_771576-58.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
	font-size: 20px;
	font-family: 'Calibri';
}


main {
	height: 100vh;
	width: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 0 auto;
}

#brief {
	color: white;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.308);
}

#brief > * {
	width: fit-content;
	margin: 0 auto;
}

#day-forecast {
	background-color: #4272ad63;
	color: white;
	padding: 0.75rem;
	border-radius: 10px;
}

#day-forecast h3 {
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: lighter;

	border-bottom: 1px rgba(255, 255, 255, 0.315) solid;
}

#day-forecast .timetable
{
	display: flex;
	gap: 1.25rem;
}

#day-forecast .hour {
	flex: 1;
}

img {
	height: 40px;
	width: auto;
}

#day-forecast .hour > *{
	width: fit-content;
	margin: 0 auto;
}

#week-forecast {
	width: 100%;
	color: white;
}

#week-forecast h3 {
	color: rgb(190, 239, 255);
	font-weight: lighter;
	font-style: italic;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding-top: 5px;
}

#week-forecast .timetable {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#week-forecast .timetable .day,
#week-forecast h3 {
	background-color: #6f97c79d;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1px 0;
	padding: 0 0.75rem;
}

#week-forecast .timetable .day:last-of-type {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-bottom: 5px;
}

#week-forecast .timetable .day h4 {
	font-weight: 450;
}

#week-forecast .timetable .day span {
	display: flex;
	align-items: center;
	gap: 4rem;
}

#week-forecast .timetable img {
	padding: 0.25rem 0;
}